<div style="display: flex; flex-direction: column;">
	<div style="display: flex; gap: 15px; align-items: center; margin-bottom: 20px;">
		<div data-cb="icon" style="font-size: 32px;"></div>
		<div data-cb="message"
			style="font-size: 13px; font-family: Tahoma, 'MS Sans Serif', sans-serif; white-space: pre-wrap;">
		</div>
	</div>
	<div style="display: flex; justify-content: flex-end; gap: 8px;">
		<button class="ui-btn" data-cb="btnOk">OK</button>
		<button class="ui-btn" data-cb="btnCancel" style="display: none;">Cancel</button>
	</div>
</div>