.transfers-view {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.transfer-list textarea {
    width: 100%;
    height: 400px;
    font-family: monospace;
    white-space: pre;
}
