<div class="settings-group" style="height: 100%;">
	<div class="ui-table-container settings-shared-table" style="flex: 1;">
		<table class="ui-list">
			<thead>
				<tr>
					<th class="is-mobile-primary">Name</th>
					<th class="is-mobile-primary" style="width: 70px;">Size</th>
				</tr>
			</thead>
			<tbody data-cb="blacklistTableBody">
				<tr data-cb="blacklistTableRow">
					<td data-cb="blacklistNameCell" class="is-mobile-primary settings-blacklist-ellipsis-cell"></td>
					<td data-cb="blacklistSizeCell" class="is-mobile-primary"></td>
				</tr>
				<tr data-cb="blacklistNoRows">
					<td class="is-mobile-primary" colspan="2">No blacklisted hashes.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="settings-shared-add-row">
		<button class="ui-btn" data-cb="manageBlacklistBtn">Manage Blacklist…</button>
	</div>
</div>