.sidebar {
	width: 200px;
	background-color: #7a96df; /* XP Blue Sidebar background typical in Explorer */
	background: linear-gradient(to bottom, #7a96df 0%, #7a96df 100%); /* Or simple solid */
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.sidebar-header {
		margin-bottom: 1rem;
		background: linear-gradient(to right, white, transparent);
		padding: 5px;
		border-radius: 3px;

		.app-logo {
			line-height: 1;
			font-size: 1.2rem;
			color: #003c74;
			font-weight: 900;
			text-decoration: none;
			display: block;
			text-align: center;
			/* letter-spacing: -1px; */
		}
	}

	/* XP "System Tasks" box style */
	.net-box {
		background: white;
		border-radius: 3px;
		overflow: hidden;
	}

	.net-box-header {
		background: linear-gradient(to right, #dae5f8, #d1e0f6);
		padding: 5px;
		font-weight: bold;
		color: #215dc6;
		cursor: default;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		background: white;
		padding: 5px;

		.nav-link {
			color: #003c74;
			text-decoration: none;
			padding: 4px 6px;
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 11px;
			cursor: pointer;

			&:hover {
				background-color: #eef1f9;
				text-decoration: underline;
			}

			&.active-link {
				font-weight: bold;
			}
		}
	}

	.sidebar-footer {
		margin-top: auto;
		padding-top: 1rem;
		display: flex;
		justify-content: center;
		color: white;
	}

	.sidebar-version {
		font-size: 0.85rem;
	}

	.connection-status {
		background: white;
		padding: 5px;
		border-radius: 3px;
		margin-top: 10px;
		font-size: 10px;
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.status-indicator {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: gray;
	}
	.status-indicator.connected {
		background: #46d369;
	}
	.status-indicator.disconnected {
		background: red;
	}
}
